body{ background-color: #484848;}
#main{
  margin-top: 60px;
  justify-content: center;
  text-align: center;
}
h2{
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-family: 'Great Vibes', cursive;
  //font-family: 'Sacramento', cursive;
  //font-family: 'Bad Script', cursive;
  //font-family: 'Alex Brush', cursive;
}
h2#top{
  font-size: 4em;
}
#profile{
  border-radius: 50%;
}
